/*--------------------------------------------------
	Layout 
  --------------------------------------------------

	Setting column sizes is now more flexible than
	before. You can now set your own breakpoints,
	as well as completely different layouts per
	breakpoint. (Defaults are now 12 columns at
	50rem and 65rem.)

  ---------------------------------------------------
*/
/*--------------------------------------------------
	Typographic Scale 
  --------------------------------------------------
	http://modularscale.com/scale/?px1=16&px2=12&ra1=1.5&ra2=0
	
	Line-height can now be set by breakpoints.
*/
/* line 34, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section {
  display: block;
}

/* line 35, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
audio, canvas, video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/* line 36, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
audio:not([controls]) {
  display: none;
}

/* line 37, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
[hidden] {
  display: none;
}

/* line 17, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
html {
  font-size: 100%;
  overflow-y: scroll;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

/* line 19, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
body {
  margin: 0;
  font-size: 1em;
}
@media screen and (min-width: 52em) {
  /* line 19, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
  body {
    line-height: 24px;
    line-height: 1.5rem;
  }
}

/* line 21, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
body, button, input, select, textarea {
  font-family: sans-serif;
  color: #111111;
}

/* line 62, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
::-moz-selection {
  background: #222244;
  color: white;
  text-shadow: none;
}

/* line 63, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
::selection {
  background: #222244;
  color: white;
  text-shadow: none;
}

/* line 71, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a {
  color: #003366;
}

/* line 72, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:visited {
  color: #333366;
}

/* line 73, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:hover {
  color: #6699cc;
}

/* line 74, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:focus {
  outline: thin dotted;
}

/* line 77, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
a:hover, a:active {
  outline: 0;
}

@media screen and (min-width: 52em) {
  /* line 36, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
  body {
    line-height: 24px;
    line-height: 1.5rem;
  }
}
@media screen and (min-width: 67em) {
  /* line 36, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
  body {
    line-height: 27.008px;
    line-height: 1.688rem;
  }
}

/* line 42, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
abbr[title] {
  border-bottom: 1px dotted;
}

/* line 44, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
b, strong {
  font-weight: bold;
}

/* line 45, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
em em {
  font-style: italic;
  font-weight: bold;
}

/* line 47, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
blockquote {
  margin: 0 0 -16px;
  margin: 0 0 -1rem;
  padding: 0 0 0 15.66667px;
  padding: 0 0 0 0.95rem;
}
@media screen and (min-width: 60em) {
  /* line 47, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
  blockquote {
    margin-left: -16px;
    margin-left: -1.5rem;
    padding-left: 15.66667px;
    padding-left: 1.35rem;
  }
}

/* line 51, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
dfn {
  font-style: italic;
}

/* line 53, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/* line 55, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
ins {
  background: #ff9;
  color: #000;
  text-decoration: none;
}

/* line 57, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
mark {
  background: #ff0;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

/* line 60, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
pre, code, kbd, samp {
  font-family: monospace, serif;
  _font-family: 'courier new', monospace;
  font-size: 1em;
}

/* line 63, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/* line 65, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
q {
  quotes: none;
}

/* line 66, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
q:before, q:after {
  content: "";
  content: none;
}

/* line 68, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
small {
  font-size: 12px;
  font-size: .75rem;
}

/* line 71, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
sub, sup {
  font-size: 8px;
  font-size: .5rem;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

/* line 72, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
sup {
  top: 8px;
  top: -0.5em;
}

/* line 73, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
sub {
  bottom: -4px;
  bottom: -0.25em;
}

/* line 75, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
h1, h2, h3, h4, h5, h6, dt {
  color: #003366;
}

/* line 76, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
h1 {
  font-size: 36px;
  font-size: 2.25rem;
}

/* line 80, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
h2 {
  font-size: 27px;
  font-size: 1.688rem;
}

/* line 84, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
h3, *[role=complimentary] dt {
  font-size: 24px;
  font-size: 1.5rem;
}

/* line 89, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
h4, h5, h6 {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: bold;
}

/* line 91, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
p, blockquote {
  font-size: 16px;
  font-size: 1rem;
}

/* line 97, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_overrides.scss */
svg + p, img + p, aside + p, p + p, figure + p, figcaption + p, blockquote + p, q + p {
  text-indent: 24px;
  text-indent: 1.5rem;
}

/* line 121, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
ul, ol {
  margin: 1em 0;
  padding: 0 0 0 40px;
}

/* line 122, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
dd {
  margin: 0 0 0 40px;
}

/* line 123, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
nav ul, nav ol {
  list-style: none;
  list-style-image: none;
  margin: 0;
  padding: 0;
}

/* line 134, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
img {
  border: 0;
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
}

/* line 138, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
svg:not(:root) {
  overflow: hidden;
}

/* line 146, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
figure {
  margin: 0;
}

/* line 154, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
form {
  margin: 0;
}

/* line 155, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/* line 158, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
label {
  cursor: pointer;
}

/* line 163, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
legend {
  border: 0;
  *margin-left: -7px;
  padding: 0;
  white-space: normal;
}

/* line 169, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline;
  *vertical-align: middle;
}

/* line 173, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input {
  line-height: normal;
}

/* line 179, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible;
}

/* line 183, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button[disabled], input[disabled] {
  cursor: default;
}

/* line 187, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0;
  *width: 13px;
  *height: 13px;
}

/* line 188, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="search"] {
  -webkit-appearance: textfield;
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
}

/* line 189, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/* line 193, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/* line 198, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
textarea {
  overflow: auto;
  vertical-align: top;
  resize: vertical;
}

/* line 202, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
input:invalid, textarea:invalid {
  background-color: #cc9999;
}

/* line 210, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 211, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_normalize.scss */
td {
  vertical-align: top;
}

/* line 15, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body, select, input, textarea {
  color: #111111;
}

/* line 25, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > * {
  margin: 0 auto;
  width: 20em;
}
@media screen and (min-width: 52em) {
  /* line 25, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body > * {
    width: 768px;
    width: 48rem;
  }
}
@media screen and (min-width: 67em) {
  /* line 25, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body > * {
    width: 720px;
    width: 45rem;
  }
}

/* line 34, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body {
  /********************
  	Mobile & Basic
   ********************/
  /*********************
  	Nav & Utilities
   *********************/
  /********************
  	Viewing Modes
   ********************/
}
/* line 38, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#content {
  margin: 48px auto;
  margin: 3rem auto;
}
@media screen and (min-width: 48em) {
  /* line 38, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body div#content {
    margin: 125px auto;
    margin: 7.5rem auto;
  }
}
@media screen and (min-width: 52em) {
  /* line 38, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body div#content {
    width: 360px;
    width: 22.5rem;
  }
}
@media screen and (min-width: 67em) {
  /* line 38, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body div#content {
    width: 336px;
    width: 21rem;
  }
}
/* line 48, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#content article h1 {
  font-size: 24px;
  font-size: 1.5rem;
}
/* line 51, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#content article h2 {
  font-size: 18px;
  font-size: 1.125rem;
  text-transform: uppercase;
}
/* line 57, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > footer {
  clear: both;
  margin: 0 auto;
  padding: 108px 0;
  padding: 6rem 0;
  height: 64px;
  height: 4rem;
  background: transparent url(../images/yellowraven.png) center center no-repeat;
  background-size: 150px 75px;
}
@media screen and (min-width: 52em) {
  /* line 57, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body > footer {
    width: 360px;
    width: 22.5rem;
  }
}
@media screen and (min-width: 67em) {
  /* line 57, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body > footer {
    width: 336px;
    width: 21rem;
  }
}
/* line 67, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > footer p, body > footer ul, body > footer li {
  margin: 0;
  padding: 0;
}
/* line 71, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > footer > div {
  margin-top: 20px;
  margin-top: 1.25rem;
}
/* line 72, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > footer #docs {
  float: left;
  text-align: right;
}
@media screen and (min-width: 52em) {
  /* line 72, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body > footer #docs {
    width: 88px;
    width: 5.5rem;
  }
}
/* line 76, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > footer #docs ul {
  list-style: none;
}
/* line 77, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > footer #docs li {
  display: inline;
  margin-right: 16px;
  margin-right: 1rem;
}
/* line 82, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > footer #credits {
  float: right;
}
@media screen and (min-width: 52em) {
  /* line 82, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body > footer #credits {
    width: 88px;
    width: 5.5rem;
  }
}
/* line 86, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > footer #info {
  display: none;
}
/* line 89, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body #info, body #info.night {
  color: #111111;
}
@media screen and (min-width: 52em) {
  /* line 89, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body #info, body #info.night {
    width: 224px;
    width: 14rem;
  }
}
@media screen and (min-width: 67em) {
  /* line 89, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body #info, body #info.night {
    width: 208px;
    width: 13rem;
  }
}
/* line 93, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body #info h2, body #info.night h2 {
  color: #002244;
  margin: 0;
  padding: 0;
  text-align: center;
}
/* line 98, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body #info h3, body #info.night h3 {
  text-align: center;
}
/* line 99, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body #info #settings-navigation, body #info.night #settings-navigation {
  float: left;
}
@media screen and (min-width: 52em) {
  /* line 99, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body #info #settings-navigation, body #info.night #settings-navigation {
    width: 88px;
    width: 5.5rem;
  }
}
/* line 100, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body #info #settings-utilities, body #info.night #settings-utilities {
  float: right;
}
@media screen and (min-width: 52em) {
  /* line 100, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body #info #settings-utilities, body #info.night #settings-utilities {
    width: 88px;
    width: 5.5rem;
  }
}
@media screen and (min-width: 52em) {
  /* line 101, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body #info dl, body #info.night dl {
    width: 88px;
    width: 5.5rem;
  }
}
/* line 104, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body #info dl dt, body #info.night dl dt {
  float: left;
  clear: both;
  width: 24px;
  width: 1.5rem;
  text-align: center;
  padding: 4.8px 4px 4.8px 4px;
  padding: 0.3rem 0.25rem 0.3rem 0.25rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
  background: #111111;
  color: white;
}
/* line 114, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body #info dl dt + dt, body #info.night dl dt + dt {
  clear: none;
  margin-left: 4px;
  margin-left: 0.25rem;
  padding: 4px 4px 4px 4px;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
}
/* line 119, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body #info dl dt span, body #info.night dl dt span {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  height: 0;
}
/* line 127, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body #info dl dd, body #info.night dl dd {
  float: right;
  padding: 4px 4px 4px 4px;
  padding: 0.25rem 0.25rem 0.25rem 0.25rem;
  margin-bottom: 8px;
  margin-bottom: 0.5rem;
}
/* line 139, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities, body nav div {
  position: fixed;
  z-index: 10;
  background: #111111;
  color: white;
  -webkit-border-radius: 8px 8px;
  -moz-border-radius: 8px / 8px;
  border-radius: 8px / 8px;
}
/* line 146, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities ul, body nav div ul {
  list-style: none;
  margin: 0;
  padding: 4.5px 0;
  padding: .25rem 0;
}
/* line 151, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities ul li, body nav div ul li {
  height: 28px;
  height: 1.75rem;
  margin-top: -2px;
  margin-top: -0.125rem;
  float: left;
}
/* line 155, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities ul li a, body div#utilities ul li button, body nav div ul li a, body nav div ul li button {
  display: block;
  padding: 0 4.5px;
  padding: 0 .625rem;
  color: white;
  text-decoration: none;
}
/* line 162, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities ul li a:visited, body div#utilities ul li button:visited, body nav div ul li a:visited, body nav div ul li button:visited {
  color: white;
}
/* line 163, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities ul li a:hover, body div#utilities ul li button:hover, body nav div ul li a:hover, body nav div ul li button:hover {
  color: #cccccc;
}
/* line 164, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities ul li a span, body div#utilities ul li button span, body nav div ul li a span, body nav div ul li button span {
  display: block;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  height: 0;
}
/* line 173, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities ul li button, body nav div ul li button {
  background: transparent;
  border: none;
  padding-top: 3px;
  padding-bottom: 6px;
}
/* line 179, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities ul li button[disabled], body nav div ul li button[disabled] {
  color: #99cc99;
  opacity: .25;
  -webkit-transition: color 0.6s ease-out, opacity 1.8s ease-in-out;
  -webkit-transition-delay: 0s, 0.9s;
  -moz-transition: color 0.6s ease-out, opacity 1.8s ease-in-out 0.9s;
  -o-transition: color 0.6s ease-out, opacity 1.8s ease-in-out 0.9s;
  transition: color 0.6s ease-out, opacity 1.8s ease-in-out 0.9s;
}
/* line 182, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities ul li span, body nav div ul li span {
  display: block;
  position: absolute;
  text-indent: 100%;
  white-space: nowrap;
  overflow: hidden;
  width: 0;
  height: 0;
}
/* line 194, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities {
  top: 44px;
  top: 2.75rem;
  left: 12px;
  left: 0.75rem;
}
/* line 199, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities li.info, body div#utilities li.quiet-mode, body div#utilities li.explore-mode {
  display: none;
}
@media screen and (min-width: 48em) {
  /* line 199, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body div#utilities li.info, body div#utilities li.quiet-mode, body div#utilities li.explore-mode {
    display: block;
  }
}
/* line 206, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities button {
  margin: 2px 0 0 -6px;
  padding-bottom: 6px;
}
/* line 210, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities button.entypo-light-up, body div#utilities button.entypo-adjust {
  margin: 1px -2px 0;
}
@media screen and (min-width: 48em) {
  /* line 210, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body div#utilities button.entypo-light-up, body div#utilities button.entypo-adjust {
    margin-left: -6px;
    margin-right: 0;
  }
}
/* line 217, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities button.entypo-light-down {
  margin: 2px 0 0 0;
}
@media screen and (min-width: 48em) {
  /* line 217, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body div#utilities button.entypo-light-down {
    margin: 1px 2px 0 -4px;
  }
}
/* line 224, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body div#utilities button.entypo-adjust, body div#utilities button.entypo-adjust:hover {
  color: #6699cc;
}
/* line 230, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > nav #local {
  top: 8px;
  top: 0.5rem;
  right: 12px;
  right: 0.75rem;
}
/* line 233, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > nav #local mark a, body > nav #local a.active {
  color: #cc9999;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
/* line 236, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > nav #local mark a:hover, body > nav #local a.active:hover {
  color: #cc9999;
}
/* line 239, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > nav #global {
  top: 8px;
  top: 0.5rem;
  left: 12px;
  left: 0.75rem;
}
@media screen and (min-width: 48em) {
  /* line 239, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body > nav #global {
    top: 44px;
    top: 2.75rem;
    right: 12px;
    right: 0.75rem;
    left: auto;
  }
}
/* line 247, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > nav #global mark a, body > nav #global a.active {
  color: #6699cc;
  -webkit-transition: color 0.5s ease;
  -moz-transition: color 0.5s ease;
  -o-transition: color 0.5s ease;
  transition: color 0.5s ease;
}
/* line 250, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body > nav #global mark a:hover, body > nav #global a.active:hover {
  color: #6699cc;
}
/* line 269, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body span.permalink {
  opacity: 0;
  display: none;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 275, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body.permalinks span.permalink {
  opacity: 1;
  display: block;
  position: absolute;
  font-size: 12px;
  font-size: 0.75rem;
  margin-left: -72px;
  margin-left: -4.5rem;
}
@media screen and (min-width: 48em) {
  /* line 275, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
  body.permalinks span.permalink {
    margin-left: -80px;
    margin-left: -5rem;
  }
}
/* line 285, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body.permalinks button#show-permalinks {
  color: #6699cc;
}
/* line 289, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body header[role=banner], body div#local, body div#global, body div#utilities {
  opacity: .75;
  -webkit-transition: opacity 0.5s ease;
  -moz-transition: opacity 0.5s ease;
  -o-transition: opacity 0.5s ease;
  transition: opacity 0.5s ease;
}
/* line 294, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body.silenceNav header[role=banner], body.silenceNav div#local, body.silenceNav div#global, body.silenceNav div#utilities {
  opacity: .1;
}
/* line 300, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
body.silenceNav header[role=banner]:focus, body.silenceNav header[role=banner]:hover,
body.silenceNav div#local:focus, body.silenceNav div#local:hover,
body.silenceNav div#global:focus, body.silenceNav div#global:hover,
body.silenceNav div#utilities:focus, body.silenceNav div#utilities:hover {
  opacity: .75;
}

/* line 309, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
.no-js div#local li.set-bookmark, .no-js div#local li.goto-bookmark {
  display: none;
}
/* line 311, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_page.scss */
.no-js div#utilities, .no-js li.show-permalinks {
  display: none;
}

/* line 1, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_night.scss */
body.night {
  background: #002244;
  color: white;
  -webkit-transition: background 0.5s ease;
  -moz-transition: background 0.5s ease;
  -o-transition: background 0.5s ease;
  transition: background 0.5s ease;
}
/* line 7, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_night.scss */
body.night h1, body.night h2, body.night h3 {
  color: white;
  opacity: .75;
}
/* line 12, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_night.scss */
body.night a {
  color: #cccccc;
}
/* line 15, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_night.scss */
body.night a:hover, body.night a:focus {
  color: #6699cc;
}
/* line 21, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_night.scss */
body.night nav#toc a.bookmark {
  color: #663333;
}
/* line 22, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_night.scss */
body.night nav#toc mark a {
  color: #6699cc;
}
/* line 28, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_night.scss */
body.night.quiet nav#toc a:hover, body.night.quiet nav#toc a:focus {
  color: white;
}
/* line 37, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_night.scss */
body.night svg text {
  fill: white;
}

/* IE 8 and older */
/* line 5, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_fallback.scss */
body.lte-ie8 div#utilities li.info, body.lte-ie8 div#utilities li.quiet-mode, body.lte-ie8 div#utilities li.explore-mode {
  display: none;
}
/* line 11, /Users/bernardy/Sites/sites/books.ayellowraven/books-workspace/sass/partials/_fallback.scss */
body.lte-ie8 svg {
  display: none;
}

/* line 7, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.ir {
  display: block;
  border: 0;
  text-indent: -999em;
  overflow: hidden;
  background-color: transparent;
  background-repeat: no-repeat;
  text-align: left;
  direction: ltr;
  *line-height: 0;
}
/* line 26, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.ir br {
  display: none;
}

/* line 9, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.hidden {
  display: none !important;
  visibility: hidden;
}

/* line 11, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}
/* line 45, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.visuallyhidden.focusable:active, .visuallyhidden.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  width: auto;
}

/* line 13, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.invisible {
  visibility: hidden;
}

/* line 55, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.clearfix:before, .clearfix:after {
  content: "";
  display: table;
}
/* line 56, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.clearfix:after {
  clear: both;
}
/* line 57, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_helpers.scss */
.clearfix {
  *zoom: 1;
}

/* Media Queries are include in the _page to take advantage of bubbling out features */
@media print {
  /* line 11, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  * {
    background: transparent !important;
    color: black !important;
    box-shadow: none !important;
    text-shadow: none !important;
    filter: none !important;
    -ms-filter: none !important;
  }

  /* line 12, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  a, a:visited {
    text-decoration: underline;
  }

  /* line 13, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  a[href]:after {
    content: " (" attr(href) ")";
  }

  /* line 14, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  /* line 15, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after {
    content: "";
  }

  /* line 16, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  pre, blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }

  /* line 17, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  thead {
    display: table-header-group;
  }

  /* line 18, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  tr, img {
    page-break-inside: avoid;
  }

  /* line 19, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  /* line 21, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  p, h2, h3 {
    orphans: 3;
    widows: 3;
  }

  /* line 22, /Library/Ruby/Gems/1.8/gems/compass-h5bp-0.0.5/stylesheets/h5bp/_media.scss */
  h2, h3 {
    page-break-after: avoid;
  }
}
